# List and its default functions

In [1]:
#defining a list
countries = ["India","Australia","Austria"]
countries

['India', 'Australia', 'Austria']

In [2]:
# append(): It adds the new element to the end of the list
countries.append("Germany")
countries

['India', 'Australia', 'Austria', 'Germany']

In [3]:
# pop(): Removes an element from the specified position
countries.pop(2)
countries

['India', 'Australia', 'Germany']

In [4]:
# insert(): Inserts an element at a specified position
countries.insert(2,"Argentina")
countries

['India', 'Australia', 'Argentina', 'Germany']

In [5]:
# reverse(): Reverses the order of the list
countries.reverse()
countries

['Germany', 'Argentina', 'Australia', 'India']

In [6]:
# extend(): Adds another list to the end of existing list
population = [10.2, 16.3, 88.6, 50.95, 3.5, 65.8]
countries.extend(population)
countries

['Germany',
 'Argentina',
 'Australia',
 'India',
 10.2,
 16.3,
 88.6,
 50.95,
 3.5,
 65.8]

# Dictionary and its default functions

In [7]:
# defining a dictionary
fruit_seed = {"banana":20, "kiwi":180, "grapes":10, "orange":6, "chickoo":15}
fruit_seed

{'banana': 20, 'kiwi': 180, 'grapes': 10, 'orange': 6, 'chickoo': 15}

In [8]:
# get(): gets the value of the specified key
fruit_seed.get("kiwi")

180

In [9]:
# update(): updates the dictionary with the newly specified key-value pair
fruit_seed.update({"watermelon":150})
fruit_seed

{'banana': 20,
 'kiwi': 180,
 'grapes': 10,
 'orange': 6,
 'chickoo': 15,
 'watermelon': 150}

In [10]:
# values(): returns a list of all the values in the dictionary
fruit_seed.values()

dict_values([20, 180, 10, 6, 15, 150])

In [11]:
# items(): returns a list of all the key-value pairs in the dictionary
fruit_seed.items()

dict_items([('banana', 20), ('kiwi', 180), ('grapes', 10), ('orange', 6), ('chickoo', 15), ('watermelon', 150)])

In [12]:
# setdefault(): returns the value of the specified key. If the key does not exist, it sets the mentioned default value
fruit_seed.setdefault("chickoo", 40)

15

In [13]:
fruit_seed.setdefault("mango",20)
fruit_seed

{'banana': 20,
 'kiwi': 180,
 'grapes': 10,
 'orange': 6,
 'chickoo': 15,
 'watermelon': 150,
 'mango': 20}

# Sets and its default methods

In [14]:
#defining sets
science = {"Physics", "Chemistry", "Maths", "Biology","Class_10"}
commerce = {"Accounting", "Tax"}
science

{'Biology', 'Chemistry', 'Class_10', 'Maths', 'Physics'}

In [15]:
# add() method: adds an element to the set
commerce.add("Class_10")
commerce

{'Accounting', 'Class_10', 'Tax'}

In [16]:
# difference(): returns a set containing the difference between two or more sets
d = science.difference(commerce)
d

{'Biology', 'Chemistry', 'Maths', 'Physics'}

In [17]:
# union(): returns a set which is the union of the 2 sets
u = science.union(commerce)
u

{'Accounting', 'Biology', 'Chemistry', 'Class_10', 'Maths', 'Physics', 'Tax'}

In [18]:
# intersection(): returns the set which is the intersection of the two sets
i = science.intersection(commerce)
i

{'Class_10'}

In [19]:
# remove(): removes the specified element from the set
commerce.remove("Class_10")
commerce

{'Accounting', 'Tax'}

# Tuples and its default methods

In [20]:
# defining the tuples
t1 = (15, 100, 66, 30, 100)
t2 = (20, 30, 12, 5)

In [21]:
#max() returns the maximum value from the tuple
print(max(t1))
print(max(t2))

100
30

In [22]:
#min() returns the minimum value from the tuple
print(min(t1))
print(min(t2))

15
5

In [23]:
# len() gives the total length of tuple
print(len(t1))
print(len(t2))

5
4

# String and its default functions

In [24]:
#defining a string
string = "once upon a time in mumbaai 2 bara"
string

'once upon a time in mumbaai 2 bara'

In [25]:
# split(): splits the string at a specified separator and returns a list
print(string.split())
print(string.split("a"))
print(string.split("o"))

['once', 'upon', 'a', 'time', 'in', 'mumbaai', '2', 'bara']
['once upon ', ' time in mumb', '', 'i 2 b', 'r', '']
['', 'nce up', 'n a time in mumbaai 2 bara']

In [26]:
# isalpha(): Returns true if all characters in the string are alphabets
string.isalpha()

False

In [27]:
# isdigit(): Returns true if all characters in the string are digits
string.isdigit()

False

In [28]:
#find(): Searches the string for the specified value and returns the first position of where it was found
print(string.find("up"))

5

In [29]:
# upper(): Converts a string to upper case
print(string.upper())

ONCE UPON A TIME IN MUMBAAI 2 BARA

In [30]:
# title(): Converts the first character of each word to upper case
print(string.title())

Once Upon A Time In Mumbaai 2 Bara